#
# File    : .github/workflows/release.yml
# Purpose : Github workflow to invoke release.sh and upload ZIPs as a release.
# Author  : Martin Rizzo | <martinrizzo@gmail.com>
# Date    : Dec 12, 2025
# Repo    : https://github.com/martin-rizzo/AmazingZImageWorkflow
# License : MIT
#- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#                           Amazing Z-Image Workflow
#  Z-Image workflow with customizable image styles and GPU-friendly versions
#_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _*/
name: Release ZIP packages
permissions:
  contents: write
on:
  push:
    tags:
      - '*'
jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-24.04

    steps:

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Zipping Amazing Z-Comics
        run: |
          source files/utils/release.sh 'z-comics' "${{ github.ref_name }}" "${{ github.workspace }}"
          echo "RELEASE_DIR=$RELEASE_DIR" >> $GITHUB_ENV

      - name: Zipping Amazing Z-Image
        run: |
          source files/utils/release.sh 'z-image' "${{ github.ref_name }}" "${{ github.workspace }}"
          echo "RELEASE_DIR=$RELEASE_DIR" >> $GITHUB_ENV


      - name: Print ZIP Path (debugging)
        run: |
          echo "RELEASE_DIR=${{ env.RELEASE_DIR }}"

      - name: Upload ZIP Packages to Release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          repo_token : ${{ secrets.GITHUB_TOKEN }}
          file       : ${{ env.RELEASE_DIR }}/* # the folder which has all the files that you want to release
          tag        : ${{ github.ref }}
          overwrite  : true
          file_glob  : true
          body       : "Automatic release generated for the tag ${{ github.ref_name }}"
